#OS junk files
[Tt]thumbs.db
*.DS_Store
.Rhistory
.ipynb_checkpoints/
UPOsHam.egg-info
docs/.Rhistory
dist/
tests/plots/

#Data files
*.dat
*.pdf

#C++ executable
__pycache__

#Docs build files
docs/_build/*
docs/.vscode/

# package build files
build/*
build/lib/*/*
