#OS junk files
[Tt]thumbs.db
*.DS_Store
.Rhistory
.ipynb_checkpoints/
uposham.egg-info
tests/plots/

#Data files
*.dat
*.pdf

#C++ executable
__pycache__

#Docs build files
docs/.Rhistory
docs/_build/*
docs/.vscode/
docs/_static/*
docs/source/*

# package build files
dist/*
build/lib/uposham/
